<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopWise</title>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
        <h1 class="title">ShopWise</h1>
        <div class="shopping-list card">
            <h2>Shopping List</h2>
            <p>No items added yet</p>
            <button>🛒 View Cart</button>
        </div>

        <div class="grid">
            <main>
                <div class="recipe-input card">
                    <h2>What would you like to cook?</h2>
                    <form action="/get-items" method="POST">
                        <input type="text" name="user-input" placeholder="e.g., Hamburger, Pasta, Pizza, ...">
                        <h2>Filters</h2>
                        <select name="filter">
                            <option value="none">None</option>
                            <option value="high-to-low">High to Low</option>
                            <option value="low-to-high">Low to High</option>
                        </select>
                        <button type="submit">Add Meal</button>
                    </form>
                </div>

                    <h2>Enter a meal above to see available ingredients and prices</h2>
            </main>
        </div>
    </div>
</body>
</html>